<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>calculator app</title>
</head>
<body>
<h1>kalkulator</h1>>
<form action="#" th:action="@{/calculator/execute}" method="post" th:object="${calcForm}">
    <label for="fa">podaj pierwsza liczbe</label>
    <input th:field="*{firstArgument}" id="fa"/>
    <label for="op">wybierz dzialanie</label>
    <select th:field="*{operator}" id="op">
        <option th:value="'+'">dodawanie</option>
        <option th:value="'-'">odejmowanie</option>
        <option th:value="'*'">mnozenie</option>
        <option th:value="'/'">dzielenie</option>
        <option th:value="'^'">potegowanie</option>
        <option th:value="'root'">pierwiastkowanie</option>
    </select>
    <label for="sa">podaj druga liczbe</label>
    <input th:field="*{secondArgument}" id="sa"/>
    <button type="submit">START</button>
</form>

</body>
</html>