<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>calculator app</title>
</head>
<body>
<h1>Calculator</h1>>
<h2>insert correct data!</h2>
<form action="#" th:action="@{/calculator/execute}" method="post" th:object="${calcForm}">
    <label for="fa">input the first number:</label>
    <input th:field="*{firstArgument}" id="fa"/>
    <label for="op">choose operation:</label>
    <select th:field="*{operator}" id="op">
        <option th:each="operator : ${operators}" th:value="${operator}" th:text="${operator}"></option>
    </select>
    <label for="sa">input the second number:</label>
    <input th:field="*{secondArgument}" id="sa"/>
    <button type="submit">START</button>
</form>

</body>
</html>