<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>graph app</title>
</head>
<body>
<h1>grafy dla statystyk</h1>>
<form action="#" th:action="@{/graph/execute}" method="post" th:object="${graphForm}">
    <label for="op">wybierz dzialanie</label>
    <select th:field="*{title}" id="op">
        <option th:each="stat : ${stats}" th:value="${stat}" th:text="${stat}"></option>
    </select>
    <button type="submit">START</button>
</form>
<h2>pobierz baze danych jako CSV</h2>
<form action="#" th:action="@{/stringmod/download}" method="get">
    <button type="submit">DOWNLOAD</button>
</form>
</body>
</html>